<!--<mat-spinner *ngIf=""></mat-spinner>-->

<mat-toolbar xmlns="" xmlns="" xmlns="">
  <span>commonity</span>
</mat-toolbar>
<app-loading-screen *ngIf="!isLoaded"></app-loading-screen>
<table *ngIf="commoditiesAttribute.length > 0" [dataSource]="commoditiesAttribute" class="mat-elevation-z8" mat-table>

  <!-- Position Column -->
  <ng-container matColumnDef="currency">
    <th *matHeaderCellDef mat-header-cell> currency</th>
    <td *matCellDef="let commonity" mat-cell> {{commonity.name}} </td>
  </ng-container>
  <ng-container matColumnDef="sell amount">
    <th *matHeaderCellDef mat-header-cell> sell amount</th>
    <td *matCellDef="let commonity" mat-cell> {{commonity.default_sell_amount}} </td>
  </ng-container>

  <ng-container matColumnDef="transfer">
    <th *matHeaderCellDef mat-header-cell> transfer</th>
    <td *matCellDef="let commonity" mat-cell>
        <span *ngIf="commonity.logo">
            {{commonity.transfer_active}}
        </span>
    </td>
  </ng-container>


  <ng-container matColumnDef="logo">
    <th *matHeaderCellDef mat-header-cell> logo</th>
    <td *matCellDef="let commonity" mat-cell>
        <span *ngIf="commonity.logo">
            <img *ngIf="commonity.logo" alt="" src="{{commonity.logo}}">
        </span>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
